{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Title</th>
      <th>Author</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
    </tr>
  </thead>
  {% for book in books %}
  <tr>
    
    <td> {{ book.id }} </td>
    <td> <a href="{{ book.get_absolute_url }}"> {{ book.title }} </a> </td>
    <td>
    {% for author in book.author.all %}
       {{ author.name }} 
      {% endfor %}
    </td>
    <td> {{ book.number_of_upvotes }} </td>
    <td> {{ book.number_of_downvotes }} </td>
  </tr>
  {% endfor %}

</table>
{% endblock content %}
